<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @child.name %>
</p>

<p>
  <strong>Highschool:</strong>
  <%= @child.highschool %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @child.sex %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @child.grade %>
</p>

<p>
  <strong>Passcode:</strong>
  <%= @child.passcode %>
</p>

<%= link_to 'Edit', edit_child_path(@child) %> |
<%= link_to 'Back', children_path %>
