<!DOCTYPE html>

<html>
<head>
  <title>Groups</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "navbar" %>
  <%= stylesheet_link_tag "maps" %>
  <%= stylesheet_link_tag "groups" %>
  <%= stylesheet_link_tag "profile" %>
  <%= stylesheet_link_tag "bootstrap.min.css" %>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Nixie+One" %>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic-ext,latin-ext,cyrillic" %>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Signika&subset=latin,latin-ext" %>
  <%= javascript_include_tag "groups.js" %>
  <%= javascript_include_tag "jquery-1.9.0.min.js" %>
  <%= javascript_include_tag "bootstrap.min.js" %>
</head>

<body>
  <div class="row groups_row">
    <div class="col-md-6">
      <h3 class="group_request_heading">Group Memberships</h3>
      <!-- <h3 id="no_group" class="no_group_heading">You currently have no groups. Please create or join one below.<h3> -->

            <div class="group_membership">

              <% Group.find_each do |group| %>
                <% if group.owner_id == current_user.id %>
                  <div class="blockquote-box blockquote-success clearfix">
                      <div class="square pull-left">
                          <i class="fa fa-group fa-3x"></i>
                      </div>
                      <i class="fa fa-chevron-right fa" style="float:right; color:#339900; margin-top:30px; margin-right:20px;"></i>
                      <h4 style="font-family: 'Signika'; margin-bottom: 2px;"><%= group.name %></h4>
                      <p style="font-family: 'Signika'; margin-bottom: -2px;"> Group Owner: <%=User.find(group.owner_id).first_name%> <%=User.find(group.owner_id).lastName%></p>
                      <p style="font-family: 'Signika';">
                        <% if group.users.any? %>
                          <% group.users.each do |s| %>
                            <%= s.first_name %>
                          <% end %>
                        <% else %>
                            <%= "There are currently no group members." %>  
                        <% end %> 
                      </p>
                  </div>
                <% end %>
              <% end %>
            </div>

      <h3 class="group_request_heading">Group Requests</h3>

        <div class="group_requests">
          <% Group.find_each do |g| %>
            <% subs = Subscription.find_by_user_id_and_group_id(current_user.id, g.id) %>
            <% if  subs != nil %>
              <% if subs.accepted == false %>
                <div class="blockquote-box blockquote-info clearfix">
                  <div class="col-md-11">
                    <div class="square pull-left left-margin" style="margin-left:-15px;">
                      <i class="fa fa-envelope fa-3x"></i>
                    </div>
                    <h4 style="font-family: 'Signika';"> <%= g.name %> </h4>
                    <p style="font-family: 'Signika';"> 
                      <% g.users.each do |user| %> 
                        <%= user.first_name %> <%=user.lastName%>
                      <% end %>
                    </p>
                  </div>
                  <div class="col-md-1">
                    <%= link_to "<i class='fa fa-check' style='color:#339900'></i>".html_safe, {:controller => "groups", :action=> "accept_request", :group_id =>g.id}, :class => "btn btn-default btn-med", :style => "float:left;margin-top:10px; margin-left:-15px; font-family: 'Signika'; "%> 

                    <%= link_to "<i class='fa fa-trash-o' style='color:#CC0000'></i>".html_safe, {:controller => "groups", :action=> "remove_request_from_group", :group_id =>g.id}, :class => "btn btn-default btn-med", :style => "float:left; margin-bottom:5px; margin-left:-15px; font-family: 'Signika'; padding-right:13px; padding-left:13px; position:relative;"%> 
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>

      <div class="row groups_inner_row">
        <div class="col-md-2">

        </div>
        <div class="col-md-2">
          <a href="#add_group_form" type="button" class="btn btn-primary btn-large" id="addGroup" style="font-family: 'Signika';">Create New Group</a>
        </div>
        <div class="col-md-2">

        </div>
        <div class="col-md-2" style="font-family: 'Signika';">
          <%= link_to "Join Existing Group", new_group_path, :class => "btn btn-primary btn-large" %>
        </div>
        <div class="col-md-3">
        </div>
      </div>

      
    </div>
    <div class="col-md-6" id="feed_div">
      <h3 class="group_feed_heading">Your Calendar</h3>
      <div class="calendar_outer">
        <iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=3aa3obbtlggrtgkcn81dut10kg%40group.calendar.google.com&amp;color=%23333333&amp;ctz=America%2FNew_York" style=" border:1 " width="545" height="545" frameborder="1" scrolling="no"></iframe>
      </div>
    </div>
  </div>
    
    

  <!-- Add Group Form -->
  <a href="#x" class="overlay" class="AddGroup" id="add_group_form"></a>
  <div class="popup" style="height:305px; font-family: 'Signika'">
    
    <div class="name" style="text-align:center; font-size:25px; color:black; font-weight:10px; border:#E8E8E8 dashed 2px;">Create New Group</div>
    <p style="text-align:center;">Please add the name & capacity of your group.</p>
    
    <%= form_for :group, url: {action: "create"}  do |f| %>
      
      <div class="forminput" style="text-align:center;">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>

      <div class ="forminput2" style="text-align:center;">
        <%= f.label :capacity %>
        <%= f.text_field :capacity %>
      </div>

      <div class="addWrapper" style="float:center;">
        <input type="submit" class="btn btn-primary btn-block" id="add" value="Create Group" />
      </div>

    <% end %>

    <a class="close" href="#close"></a>
  </div>


  </body>
</html>

