<!DOCTYPE html>
<html>
	<head>
		<title>CarpoolBuddy</title>
	    <%= stylesheet_link_tag "navbar" %>
	    <%= stylesheet_link_tag "bootstrap.min.css" %>
	    <%= javascript_include_tag "bootstrap.min.js" %>
  	    <%= javascript_include_tag "jquery-1.9.0.min.js" %>
  	    <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Nixie+One" %>
    	<%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic-ext,latin-ext,cyrillic" %>
    	<%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Signika&subset=latin,latin-ext" %>
		<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>

	</head>
	<body>
		Settings
	</body>
</html>