<!DOCTYPE html>
<html>
	<head>
		<title>CarpoolBuddy</title>
		<meta charset="utf-8"> 
	    <%= stylesheet_link_tag "navbar" %>
		<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
		

	</head>

	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
		  <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		    <% if current_user != nil %>
		      	<%= link_to "CarpoolBuddy", groups_path, id: "logo" %>
		    <% else %>
		    	<%= link_to "CarpoolBuddy", new_sessions_path, id: "logo" %>
		    <% end %>

		    </div>


		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	
		      <ul class="nav navbar-nav navbar-right">
		      	<% if current_user != nil %>
			      	<li><%= link_to "My Groups", groups_path, :class => "navbar_option" %></li>
			        <li><a class="navbar_option" href="#">Notifications  <span class="badge">0</span></a></li>
			        <li class="dropdown">
			          <a  class="navbar_option" href="#" class="dropdown-toggle" data-toggle="dropdown"><%=current_user.first_name %><b class="caret"></b></a>
			          <ul class="dropdown-menu">
			          	<li><%= link_to "Profile", current_user%></li>
			            <li><%= link_to "Settings", settings_path%></li>
			            <li><%= link_to "Help", help_path%></li>
			            <li class="divider"></li>
			           	<% puts "hello" %>
			            <li><%= link_to "Logout", {:controller => "application", :action => "sign_out"} %></li>
			          </ul>
			        </li>
		        <% else %>
		        	<li><%= link_to "Log In", new_sessions_path, :class => "navbar_option" %></li>

		        <% end %>
		        
		      </ul>
		    </div><!-- /.navbar-collapse -->
		</div>
	</nav>

	<body>
		<div class="container">
	      <% flash.each do |key, value| %>
	        <div class="alert alert-<%= key %>"><%= value %></div>
	      <% end %>
	      <%= yield %>
	    </div>
	</body>
</html>

